<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.4.1" targetFramework="net452" />
  <package id="Gherkin" version="6.0.0" targetFramework="net452" />
  <package id="Ghpr.Core" version="0.9.9.1" targetFramework="net452" />
  <package id="Ghpr.LocalFileSystem" version="0.9.9.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
  <package id="SpecFlow" version="3.0.225" targetFramework="net452" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net452" />
</packages>